<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item d-lg-inline">
                    <a class="nav-link" href="{{ path('homepage') }}">Strona główna</a>
                </li>
                {% if is_granted("ROLE_USER") %}
                    <li class="nav-item d-lg-inline">
                        <a class="nav-link" href="{{ path('fridge') }}">Lodówka</a>
                    </li>
                    <li class="nav-item d-lg-inline">
                        <a class="nav-link" href="{{ path('app_calendar') }}">Jadłospis</a>
                    </li>
                    <li class="nav-item d-lg-inline">
                        <a class="nav-link" href="{{ path('app_shopping_list') }}">Lista zakupów</a>
                    </li>
                {% endif %}
                <li class="nav-item d-lg-inline">
                    <a class="nav-link" href="{{ path('recipes') }}">Przepisy</a>
                </li>
                <li class="nav-item d-lg-inline">
                    <a class="nav-link" href="{{ path('products') }}">Produkty</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
