{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block main %}
    <h1>Lista produktów</h1>

    <form>
        <label for="search">Wyszukaj produkt:</label>
        <input type="text" id="search" name="search" value="{{ search }}">
        <a href="{{ path('products') }}" class="btn btn-danger" >
            Reset
        </a>
        <button class="btn btn-success" type="submit">Szukaj</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kod</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Opis</th>
            <th scope="col">Waga [g]</th>
            <th scope="col">kcal / 100g</th>
            <th scope="col">Jednostki</th>
            <th scope="col">Akcja</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.kcal }}</td>
                <td>{{ product.unit }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('product_show', {id: product.id} ) }}">
                        Pokaż
                    </a>
                    <a class="btn btn-info" href="{{ path('product_edit', {id: product.id} ) }}">
                        Edytuj
                    </a>
                    <a class="btn btn-danger" href="{{ path('product_delete', {id: product.id} ) }}">
                        Usuń
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_add') }}">
        <button class="btn btn-success">Dodaj produkt</button>
    </a>
{% endblock %}
