{% extends 'base.html.twig' %}

{% block title %}Product: {{ product.name }}{% endblock %}

{% block main %}
    <a class="btn btn-primary" href="{{ path('products' ) }}"> < </a>

    <h1>Produkt {{ product.id }}:</h1>
    <ul>
        <li>Nazwa: {{ product.name }}</li>
        <li>Opis: {{ product.description }}</li>
        <li>Kod Kreskowy: {{ product.code }}</li>
        <li>Kcal: {{ product.kcal }}</li>
        <li>Waga [g]: {{ product.weight }}</li>
        <li>Jednostki: {{ product.unit }}</li>
    </ul>
{% endblock %}
