{% extends 'base.html.twig' %}

{% block title %}FoodMate - Lodówka{% endblock %}

{% block main %}
    <h1>Lodówka:</h1>

    <ul id="product-list" class="list-group mt-4 bg-light">
        {% for fridge_product in fridge_products %}
            <li>
                <div class="d-flex align-items-center">
                    <span class="product-name"><a href="{{ path('product_show', {id: fridge_product.product.id} ) }}">{{ fridge_product.product.name }}</a></span>
                    - {{ fridge_product.product.description }}
                    <div class="product-quantity d-flex align-items-center ms-auto">
                        <a class="btn btn-info" href="{{ path('fridge_subtract', {id: fridge_product.id}) }}">-</a>
                        <p>Ilość: {{ fridge_product.quantity }} {{ fridge_product.product.unit }}</p>
                        <a class="btn btn-info" href="{{ path('fridge_add', {id: fridge_product.id}) }}">+</a>
                    </div>
                    <a href="{{ path('fridge_delete', {id: fridge_product.id} ) }}"><button class="btn btn-sm btn-danger remove-btn">Usuń</button></a>
                </div>
            </li>
        {% endfor %}
    </ul>

    <a class="btn btn-sm btn-success" href="{{ path('fridge_new') }}">Nowy</a>
    <a class="btn btn-sm btn-info" href="{{ path('fridge_export') }}">Export</a>
{% endblock %}
